/* TYPOGRAPHY */
body {
    font-family: 'Georgia', serif;
    background-color: #f2f2f2;
    line-height: 1.8;
    margin: 0;
    padding: 30px;
}

h1 {
    font-size: 60pt;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
}

h2, h3 {
    font-family: 'Courier New', monospace;
    font-size: 9.6pt;
    border-bottom: 2px solid #000;
}

.reading-entry {
    margin-bottom: 20px;
}

.book-title {
    display: block;
    font-size: 12pt; 
    font-weight: bold;
    color: #000;
}

.book-author {
    display: block;
    font-family: 'Courier New', monospace;
    font-size: 9pt;
    text-transform: uppercase;
    color: #000000;
}

/*  BOX MODEL & POSITIONING */
.grid-item {
    background: #fff;
    border: 1px solid #000;
    padding: 25px;
    position: relative;
}

.absolute-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-family: 'Courier New', monospace;
    font-size: 10px;
    transform: rotate(5deg);
}

.float-left {
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #000;
    filter: grayscale(1);
}

/* CSS GRID LAYOUT */
.kenopsia-grid {
    display: grid;
    max-width: 1300px;
    margin: 0 auto;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "head head head head"
        "logg defn defn side"
        "poem poem pbox side"
        "vide vide audi audi"
        "foot foot foot foot";
}

.header-area { grid-area: head; }
.log-area { grid-area: logg; background-color: #000; color: #00ff00; }
.definition-area { grid-area: defn; }
.poem-one-area { grid-area: poem; }
.poem-two-area { grid-area: pbox; font-style: italic; }
.multimedia-area { grid-area: vide; padding: 0; border: none; }
.sidebar-area { grid-area: side; background-color: #fff; }


.audio-area { grid-area: audi; } 

.footer-area { grid-area: foot; text-align: center; border: none; }

.raw-typesetting {
    font-family: 'Courier New', monospace;
    font-size: 10.2pt;
}

@media (max-width: 850px) {
    .kenopsia-grid {
        grid-template-columns: 1fr;
        grid-template-areas: "head" "defn" "poem" "logg" "pbox" "vide" "side" "audi" "foot";
    }
}